.navbar{
    background-color: aqua !important;
    background-image: url("https://i.pinimg.com/564x/ad/d4/36/add436f75761370313a1d1580cf5276f.jpg");
}

#footer {
    background-color: #CFBAE1;
    color: #FFF;
    text-align: center;
    height: 100px;
    line-height: 50px;
    font-size: 0.8em;
    margin-top: 40px;
}